:root {
    --primary-color: #ffb900;
    --second-color: #171100;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 114px;
    height: 50px;
    background: var(--second-color);
    border-radius: 24.5px;
    color: #fff;
}

.row {
    display: flex;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* Heading */
.heading {
    position: sticky;
    top: -24px;
    z-index: 1;
    background-color: #fffcf4;
}

.heading .navbar {
    display: flex;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 12px;
}

.heading .nav-list {
    display: flex;
    margin-left: auto;
}

.heading .nav-item {
    margin-right: 42px;
}

.heading .nav-item .link {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.heading .nav-item .link:hover {
    font-weight: 600;
    color: #171100;
}

.heading .nav-item .link:hover::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 10px;
    height: 1.4px;
    bottom: 0;
    left: 0;
    font-weight: 600;
    background-color: #171100;
}

.heading .nav-btn {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.heading .nav-btn:hover {
    opacity: 0.7;
}

/* Hero */
.hero {
    padding: 52px 135px 65px;
    background: #fffcf4;
}

.hero-content {
    display: flex;
}

.hero-img {
    position: relative;
    width: 48%;
}

.hero-img .hero-images {
    margin-right: auto;
    width: 470px;
    height: 685px;
    object-fit: cover;
}

.hero-sub-img {
    position: absolute;
    width: 270px;
    padding: 28px 24px;
    right: 0;
    bottom: 48px;
    background-color: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-inf-img {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; */
}

.hero-inf-img .icon {
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-sub-img .hero-inf {
    display: flex;
    align-items: center;
}

.hero-sub-img .hero-inf + .hero-inf {
    margin-top: 18px;
}

.hero-sub-img .hero-inf:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-sub-img .hero-inf:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-inf .inf-sub {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.hero-inf span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-inf strong {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-info {
    width: 52%;
    padding: 64px 0 64px 130px;
}

.hero-sub-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero-desc {
    margin: 22px 0 38px 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-course {
    display: flex;
    align-items: center;
}

.hero-course .watch-video {
    border: none;
    background: #fffcf4;
    display: flex;
    align-items: center;
    margin-left: 28px;
    cursor: pointer;
}

.hero-course .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-course .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    border-radius: 32px;
    color: #ffffff;
    background: #ffb900;
}

.hero-course-desc {
    margin: 48px 0 8px 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-number strong {
    margin-right: 16px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero-number span {
    margin-right: 28px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

/* Course */
.course {
    padding: 200px 135px;
    background: #fff;
}

.course .row-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-info .title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.row-info .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    width: 458px;
    color: #5f5b53;
}

.active {
    margin-left: 18px;
}

.row-list {
    display: flex;
    gap: 30px;
}

.course .list {
    flex: 1;
    margin-top: 55px;
    border-radius: 12px;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course .list:hover {
    transform: translateY(-5px);
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.5);
}

.list .img-item {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.course .evaluate {
    padding: 16px 22px 22px 22px;
}

.evaluate .eva-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.evaluate .sub-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 2);
}

.evaluate .eva-star {
    display: flex;
    align-items: center;
}
.evaluate .eva-star span {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.eva-desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 3);
}

.eva-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.eva-price .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.eva-price .book-now {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    background: #ffb900;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}

.eva-price .book-now:hover {
    opacity: 0.6;
}

/* Testimonial */
.testimonial {
    padding: 96px 135px;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    /*Khi feedback-lít dùng flex thì cả 3
      item sẽ cùng đi nên 1 hàng ngangdo đó
       nó bị nén 3 item trên 1 hàng dùng 
       flex-shirk để ko bị nén nữa*/
}
.feedback-item .represent {
    width: 35%;
}

.feedback-item .repre-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .repre-name {
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .repre-desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .ellip {
    margin-top: 28px;
}

.feedback-item .ellip .dot {
    margin-right: 6px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .ellip .dot:hover {
    background: #ffb900;
}

.feedback-item .repre-text {
    position: relative;
    width: 65%;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
}

.feedback-item .repre-text img {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: -32px;
}

/* CTA */
.cta {
    background-color: #fff;
    padding: 200px 135px 0 135px;
}

.cta-img {
    position: relative;
    width: 48%;
    height: 438px;
    display: flex;
    gap: 30px;
}

.cta-img .image {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.cta-img .image1 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.cta-img .image2 {
    position: absolute;
    top: 0;
    right: 0;
}

.cta-info {
    width: 52%;
    padding: 0 0 0 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cta-info .cta-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.cta-body-top .cta-desc {
    width: 458px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.cta-body-bottom .cta-desc {
    width: 570px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.cta-info .cta-sub-desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.cta-info .cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    width: 137px;
    background: #ffb900;
    border-radius: 26px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.cta-body-bottom {
    margin-top: 200px;
}

.cta-body-bottom .cta-info {
    width: 52%;
    padding: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cta-body-bottom .cta-img {
    width: 48%;
    padding: 0 0 0 83.2px;
}

.cta-body-bottom .cta-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.cta-body-bottom .cta-img .images {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* Blog */
.blog {
    margin-top: 200px;
    padding: 96px 135px;
    background: #fffcf4;
}

.blog-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;

    color: #130606;
}

.blog-desc {
    margin: 16px auto auto;
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;

    color: #696262;
}

.blog-list {
    display: flex;
    margin-top: 56px;
    gap: 30px;
    overflow: hidden;
}

.blog-item {
    /* Để ảnh không bị co lại thì */
    flex-shrink: 0;
    /* vì khi dùng overflow = hidden thì do 33.33% * 3 + 30*2(ở gap) > 100% vậy lên 
    khi overflow nó sẽ bị cắt mất 1 phần của ảnh số 3 vì vậy cần 
    trừ mỗi ảnh đi 20px */
    width: calc(33.33% - 20px);
    background: #fff;
    border-radius: 16px;
    /* transition: all ease 0.3s;
    transform: translateX(-108%); */
}

.blog-item:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.blog-img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-body {
    padding: 20px 20px 28px 20px;
}

.blog-date-dot {
    display: flex;
}

.blog-date {
    margin-left: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.sperate {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-sub {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog-btn {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    background: #ffb900;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}

.blog-btn:hover {
    opacity: 0.5;
}

.blog-dot {
    text-align: center;
    margin-top: 38px;
}

.blog-dot img {
    margin-right: 6px;
}

/* Footer */
.footer {
    padding: 96px 135px 28px;
    background: #2e2100;
}

.foot-list {
    display: flex;
    justify-content: space-between;
}

.foot-list .foot-desc {
    width: 267px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.foot-social {
    margin-top: 18px;
}

.foot-social .foot-img {
    margin-right: 18px;
}

.foot-list .foot-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.foot-list .sperate {
    margin-top: 14px;
    width: 130px;
    background: #59554b;
}

.foot-list .list {
    margin-top: 28px;
}

.foot-list .item {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.foot-list .item:last-child {
    margin-bottom: 0;
}

.foot-list .item-local {
    width: 231px;
}

.foot-list .item span {
    color: #fff;
}

.foot-sperate {
    margin-top: 38px;
    width: 1170px;
    height: 1px;
    background: #59554b;
}

.copyright {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
